*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #fafafa; }

.heading-text {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  color: #FFF; }

.header {
  height: 45.5vh;
  background-image: url(../images/bg-desktop-light.jpg);
  background-size: cover;
  position: relative; }
  .header-icon {
    position: absolute;
    top: 26%;
    left: 67.8%;
    cursor: pointer; }

.heading {
  position: absolute;
  top: 25.5%;
  left: 31.5%; }

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-22%); }
  .todo__new, .todo__list {
    border: .1px solid transparent;
    border-radius: .5rem;
    background-color: #fff;
    width: 38%;
    margin: 2rem 0 1rem 2rem;
    padding: 2rem;
    left: 30%; }
    .todo__new--checkbox-group, .todo__list--checkbox-group {
      display: inline-block; }
    .todo__new--checkbox-input, .todo__list--checkbox-input {
      display: none; }
    .todo__new--checkbox-label, .todo__list--checkbox-label {
      position: relative; }
    .todo__new--checkbox-button, .todo__list--checkbox-button {
      height: 2.3rem;
      width: 2.3rem;
      background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right bottom, #e4e5f1, #e4e5f1) border-box;
      border: 1px solid #e4e5f1;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: -1.7rem;
      transition: all .2s; }
    .todo__new--input, .todo__list--input {
      width: 90%;
      height: 2.5rem;
      margin-left: 3.5rem;
      border: none;
      font-family: "Josefin Sans";
      font-size: 1.8rem;
      outline: none; }
      .todo__new--input::-webkit-input-placeholder, .todo__list--input::-webkit-input-placeholder {
        font-family: "Josefin Sans";
        font-size: 1.7rem; }
  .todo__list {
    box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.1);
    font-family: "Josefin Sans";
    font-size: 1.7rem;
    padding: 0; }
    .todo__list--checkbox-label {
      color: #484b6a;
      cursor: pointer; }
      .todo__list--checkbox-labelText {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 4rem; }
    .todo__list--checkbox-button {
      top: -0.3rem; }
    .todo__list--checkbox-button:after {
      content: "";
      display: block;
      height: 2.3rem;
      width: 2.3rem;
      border-radius: 50%;
      position: absolute;
      top: -.1rem;
      left: -.1rem;
      background-image: linear-gradient(to right bottom, #57ddff, #c058f3);
      opacity: 0;
      transition: all .2s ease;
      transform: scale(0); }
    .todo__list--checkbox-input:checked + .todo__list--checkbox-label .todo__list--checkbox-button:after {
      opacity: 1;
      transform: scale(1); }
    .todo__list--checkbox-input:checked + .todo__list--checkbox-label .todo__list--checkbox-labelText {
      color: #d2d3db;
      text-decoration: line-through;
      transition: all .2s; }
    .todo__list--checkbox-input:checked + .todo__list--checkbox-label .todo__list--item-checkIcon {
      opacity: 1; }
    .todo__list--item {
      border-bottom: 1px solid #e4e5f1;
      padding: 2.5rem 2rem;
      display: flex;
      justify-content: space-between; }
      .todo__list--item:hover .todo__list--item-crossIcon {
        opacity: 1; }
      .todo__list--item:hover .todo__list--checkbox-button {
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right bottom, #57ddff, #c058f3) border-box;
        border: 1px solid transparent; }
      .todo__list--item-checkIcon {
        position: absolute;
        transform: translateX(50%);
        opacity: 0;
        transition: opacity .2s; }
      .todo__list--item-crossIcon {
        opacity: 0;
        transition: opacity .4s; }
    .todo__list--footer {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem; }
      .todo__list--footer-itemsLeftBox {
        display: flex;
        margin: 2rem; }
      .todo__list--footer-itemsLeft {
        transform: translateY(0.039rem);
        font-size: 1.5rem;
        color: #9394a5; }
      .todo__list--footer-itemsLeftText {
        font-weight: 100;
        color: #9394a5; }
      .todo__list--footer-status {
        margin: 2rem; }
      .todo__list--footer-statusItems {
        text-decoration: none;
        font-weight: 600;
        color: #9394a5;
        padding: .6rem;
        transition: all .2s; }
        .todo__list--footer-statusItems:hover {
          color: #4E4A5F; }
      .todo__list--footer-clear {
        margin: 2rem; }
      .todo__list--footer-clearText {
        text-decoration: none;
        color: #9394a5;
        transition: all .2s; }
        .todo__list--footer-clearText:hover {
          color: #4E4A5F; }
  .todo__footer {
    transform: translateY(250%); }
    .todo__footer-text {
      color: #9394a5;
      font-family: "Josefin Sans";
      font-size: 1.7rem;
      font-weight: 400; }

.footer {
  font-family: "Josefin Sans";
  font-size: 1.7rem;
  display: flex;
  background-color: #484b6a;
  justify-content: center;
  color: #d2d3db;
  padding: 3rem; }
  .footer a {
    color: #d2d3db;
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 1.7rem;
    transition: all .2s; }
    .footer a:hover {
      color: #fff;
      font-size: 1.85rem; }
