.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-22%);

  &__new,
  &__list {
    border: .1px solid transparent;
    border-radius: .5rem;
    background-color: #fff;
    width: 38%;
    margin: 2rem 0 1rem 2rem;
    padding: 2rem;
    left: 30%;
    &--checkbox-group {
      display: inline-block;
    }

    &--checkbox-input {
      display: none;
    }

    &--checkbox-label {
      position: relative;
    }

    &--checkbox-button {
      height: 2.3rem;
      width: 2.3rem;
      background: linear-gradient(
      #fff, #fff) padding-box,
      linear-gradient(
      to right bottom,
      $color-grayish-blue-light-1, $color-grayish-blue-light-1) border-box;
      border: 1px solid $color-grayish-blue-light-1;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: -1.7rem;
      transition: transform .2s;
    }

    &--input {
      width: 90%;
      height: 2.5rem;
      margin-left: 3.5rem;
      border: none;
      font-family: "Josefin Sans";
      font-size: 1.8rem;
      outline: none;
      &::-webkit-input-placeholder {
        font-family: "Josefin Sans";
        font-size: 1.7rem;
      }
    }
  }

  &__list {
    box-shadow: 0 2.5rem 2rem rgba(#000, .1);
    font-family: "Josefin Sans";
    font-size: 1.7rem;
    padding: 0;
    &--checkbox-label {
      color: $color-grayish-blue-dark-2;
      cursor: pointer;
      &Text {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 4rem;
      }
    }

    &--checkbox-button {
      top: -0.3rem;
    }

    &--checkbox-button:after {
      content: "";
      display: block;
      height: 2.3rem;
      width: 2.3rem;
      border-radius: 50%;
      position: absolute;
      top: -.1rem;
      left: -.1rem;
      background-image: linear-gradient(
      to right bottom,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%));
      opacity: 0;
      transition: all .2s ease;
      transform: scale(0);
    }

    &--checkbox-input:checked + .todo__list--checkbox-label .todo__list--checkbox-button:after {
    	opacity: 1;
      transform: scale(1);
    }

    &--checkbox-input:checked + .todo__list--checkbox-label .todo__list--checkbox-labelText {
      color: $color-grayish-blue-light-2;
    	text-decoration: line-through;
      transition: all .2s;
    }
    &--checkbox-input:checked + .todo__list--checkbox-label .todo__list--item-checkIcon {
      opacity: 1;
    }
    &--item {
      border-bottom: 1px solid $color-grayish-blue-light-1;
      padding: 2.5rem 2rem;
      display: flex;
      justify-content: space-between;

      &:hover .todo__list--item-crossIcon {
        opacity: 1;
      }

      &:hover .todo__list--checkbox-button {
        background: linear-gradient(
        #fff, #fff) padding-box,
        linear-gradient(
        to right bottom,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)) border-box;
        border: 1px solid transparent;
      }
      &-checkIcon {
        position: absolute;
        transform: translateX(50%);
        opacity: 0;
        transition: opacity .2s;
      }

      &-crossIcon {
        opacity: 0;
        transition: opacity .4s;
      }
    }

    &--footer {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      &-itemsLeftBox {
        display: flex;
        margin: 2rem;
      }

      &-itemsLeft {
        transform: translateY(.039rem);
        font-size: 1.5rem;
        color: $color-grayish-blue-dark-1;
      }

      &-itemsLeftText {
        font-weight: 100;
        color: $color-grayish-blue-dark-1;
      }

      &-status {margin: 2rem;}
      &-statusItems {
        text-decoration: none;
        font-weight: 600;
        color: $color-grayish-blue-dark-1;
        padding: .6rem;
        transition: all .2s;
        &:hover {
          color: $color-grayish-blue-dark-3;
        }
      }

      &-clear {margin: 2rem;}
      &-clearText {
        text-decoration: none;
        color: $color-grayish-blue-dark-1;
        transition: all .2s;
        &:hover {
          color: $color-grayish-blue-dark-3;
        }
      }
    }
  }

  &__footer {
    transform: translateY(250%);
    &-text {
      color: $color-grayish-blue-dark-1;
      font-family: "Josefin Sans";
      font-size: 1.7rem;
      font-weight: 400;
    }
  }
}
